.list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.statisticList {
    composes: list;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.statisticItem {
    font-size: 20px;
}

.statWrapper {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
